## Laboratorio 01 - Introducción a SQL

#### Bienvenida

Bienvenido a su primer laboratorio de Bases de datos

Iniciaremos cargando la extensión de python que nos permitirá interactuar con bases de datos SQLite:

In [3]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Ejercicio 1

Iniciaremos creando una base de datos `lab01.db`:

In [4]:
%sql sqlite:///lab01.db

'Connected: @lab01.db'

In [5]:
%sql CREATE TABLE restaurante (id INTEGER PRIMARY KEY, nombre VARCHAR(50) NOT NULL, direccion VARCHAR(150) NOT NULL)

 * sqlite:///lab01.db
(sqlite3.OperationalError) table restaurante already exists [SQL: 'CREATE TABLE restaurante (id INTEGER PRIMARY KEY, nombre VARCHAR(50) NOT NULL, direccion VARCHAR(150) NOT NULL)'] (Background on this error at: http://sqlalche.me/e/e3q8)

Puede verificar que la tabla se haya creado correctamente ejecutando un `SELECT * FROM restaurante`:

In [6]:
%sql SELECT * FROM restaurante;

 * sqlite:///lab01.db
Done.

[]

El output de este comando debería ser el encabezado de la tabla con los atributos que le fueron especificados.

A continuación escriba la instrucción DDL para crear la tabla `Cliente`:

In [7]:
%sql CREATE TABLE Cliente (id INTEGER, nombre VARCHAR(50), telefono VARCHAR(15) NOT NULL)

 * sqlite:///lab01.db
(sqlite3.OperationalError) table Cliente already exists [SQL: 'CREATE TABLE Cliente (id INTEGER, nombre VARCHAR(50), telefono VARCHAR(15) NOT NULL)'] (Background on this error at: http://sqlalche.me/e/e3q8)

Finalmente escriba la instrucción DDL para crear la tabla `Visita`:

In [8]:
%sql CREATE TABLE Visita (restaurante_id INTEGER, cliente_id INTEGER, fecha_visita DATE, monto_cuenta FLOAT NOT NULL)

 * sqlite:///lab01.db
(sqlite3.OperationalError) table Visita already exists [SQL: 'CREATE TABLE Visita (restaurante_id INTEGER, cliente_id INTEGER, fecha_visita DATE, monto_cuenta FLOAT NOT NULL)'] (Background on this error at: http://sqlalche.me/e/e3q8)

### Ejercicio 2

Iniciaremos cargando la base de datos `flights.db` que debe encontrarse en el mismo directorio que _notebook_.

In [9]:
%sql sqlite:///flights.db

'Connected: @flights.db'

##### Pregunta 1: ¿Cuáles son las tablas disponibles en la base de datos?

Inicie investigando, _How do I list all tables/indices contained in an SQLite database?_ https://www.sqlite.org/faq.html#q7

A continuación escriba el query necesario para listar las tablas disponibles en la base de datos:

In [10]:
%sql SELECT name FROM sqlite_master WHERE type = "table"

 * sqlite:///flights.db
   sqlite:///lab01.db
Done.

[('ontime',), ('airports',)]

Del listado de tablas observará que la tabla que registra los vuelos tiene por nombre `ontime`. Esto no necesariamente implica que los vuelos registrados en esa tabla hayan despegado o aterrizado en tiempo; es únicamente el nombre que el diseñador eligió para la tabla.

Pregunta para discusión: ¿será un buen nombre? ¿Sí, no y por qué?

##### Pregunta 2: ¿Cuál es el esquema de la tabla `ontime`?

Inicie investigando la función la instrucción SQL no-estándar `PRAGMA` propia de SQLite, https://www.sqlite.org/pragma.html

A continuación investigue el uso del _PRAGMA_ `table_info`, https://www.sqlite.org/pragma.html#pragma_table_info

Finalmente escriba el query necesario para mostrar el esquema de la tabla `ontime`:

In [11]:
%sql PRAGMA table_info(ontime)

 * sqlite:///flights.db
   sqlite:///lab01.db
Done.

[(0, 'Year', 'int', 0, None, 0),
 (1, 'Month', 'int', 0, None, 0),
 (2, 'DayofMonth', 'int', 0, None, 0),
 (3, 'DayOfWeek', 'int', 0, None, 0),
 (4, 'DepTime', 'int', 0, None, 0),
 (5, 'CRSDepTime', 'int', 0, None, 0),
 (6, 'ArrTime', 'int', 0, None, 0),
 (7, 'CRSArrTime', 'int', 0, None, 0),
 (8, 'UniqueCarrier', 'varchar(5)', 0, None, 0),
 (9, 'FlightNum', 'int', 0, None, 0),
 (10, 'TailNum', 'varchar(8)', 0, None, 0),
 (11, 'ActualElapsedTime', 'int', 0, None, 0),
 (12, 'CRSElapsedTime', 'int', 0, None, 0),
 (13, 'AirTime', 'int', 0, None, 0),
 (14, 'ArrDelay', 'int', 0, None, 0),
 (15, 'DepDelay', 'int', 0, None, 0),
 (16, 'Origin', 'varchar(3)', 0, None, 0),
 (17, 'Dest', 'varchar(3)', 0, None, 0),
 (18, 'Distance', 'int', 0, None, 0),
 (19, 'TaxiIn', 'int', 0, None, 0),
 (20, 'TaxiOut', 'int', 0, None, 0),
 (21, 'Cancelled', 'int', 0, None, 0),
 (22, 'CancellationCode', 'varchar(1)', 0, None, 0),
 (23, 'Diverted', 'varchar(1)', 0, None, 0),
 (24, 'CarrierDelay', 'int', 0, None, 0),
 (25, 'WeatherDelay', 'int', 0, None, 0),
 (26, 'NASDelay', 'int', 0, None, 0),
 (27, 'SecurityDelay', 'int', 0, None, 0),
 (28, 'LateAircraftDelay', 'int', 0, None, 0)]

##### Pregunta 3: ¿Cuántos vuelos se encuentran registrados en la base de datos?

*Nota*: Evite ejecutar el comando `SELECT * FROM ontime;`, ya que esto saturaría la memoria RAM del kernel de Python usado para *Jupyter Notebooks* al intentar cargar una tabla de ~7M registros.

Inicie investigando la función SQL estándar `COUNT`: https://www.sqlite.org/lang_aggfunc.html#count

Escriba el query necesario para contar la cantidad de tuplas de la tabla (_relación_) `ontime`:

In [12]:
%sql SELECT count(*) FROM ontime

 * sqlite:///flights.db
   sqlite:///lab01.db
Done.

[(7009728,)]

*Respuesta*: `7009728` vuelos

##### Pregunta 4: ¿Cuántos aeropuertos se encuentran registrados en el estado de Nueva York?

Para responder a esta tabla debemos referirnos a la segunda tabla del dataset, `airports`.

Inicie investigando el esquema de la tabla `airport`. Luego determine el atributo sobre el que tiene que especificar la condición necesaria que indique si una tupla se encuentra registrada en el estado de Nueva York. Note que el dataset utiliza su código de estado, `'NY'`.

Investigue la sintaxis de la clausula `WHERE` para una instrucción `SELECT` queries de una sola tabla: http://sqlitetutorials.com/sqlite-where.html

Escriba un query que devuelva la cantidad de aeropuertos registrados en Nueva York:

In [13]:
%sql SELECT COUNT("NY") FROM airports WHERE state = "NY"

 * sqlite:///flights.db
   sqlite:///lab01.db
Done.

[(291,)]

*Respuesta*: `291` aeropuertos

##### Pregunta 5: ¿Cuántos vuelos se retrasaron más de una hora en salir?

Inicie investigando qué campo le indica el tiempo de retraso de salida de un vuelo de acuerdo con la documentación del dataset, https://www.transtats.bts.gov/DL_SelectFields.asp?Table_ID=236

A continuación escriba un query que devuelva la cantidad de vuelos que se trasaron más de una hora en salir:

In [14]:
%sql SELECT COUNT(*) FROM ontime WHERE DepDelay > 60

 * sqlite:///flights.db
   sqlite:///lab01.db
Done.

[(552844,)]

*Respuesta*: `552,844` vuelos

##### Pregunta 6: ¿Cuál fue el promedio de retraso en el tiempo de llegada (arrival time) de todos los vuelos registrados?

Inicie investigando la función SQL estándar `AVG`.

A continuación determine 

Finalmente escriba un query que muestre el promedio de retraso en el tiempo de llegada de todos los vuelos:

In [15]:
%sql SELECT avg(ArrDelay) FROM ontime

 * sqlite:///flights.db
   sqlite:///lab01.db
Done.

[(7.9881812817844,)]

*Respuesta*: `7.988` minutos

##### Pregunta 7: Escriba un query que muestre el promedio de retraso en el tiempo de llegada de todos los vuelos sin utilizar la función `AVG`

Recuerde que un promedio consiste en la sumatoria de valores dividida dentro de la cantidad de valores de la sumatoria.

Inicie investigando la función SQL estándar `SUM`.

A continuación escriba un query que determine la sumatoria de retraso de tiempos de llegada de todos los vuelos

Finalmente escriba un query que divida la sumatoria dentro de la cantidad de vuelos registrados:

In [16]:
%sql SELECT SUM(ArrDelay)/(SELECT count(*) FROM ontime) FROM ontime

 * sqlite:///flights.db
   sqlite:///lab01.db
Done.

[(7.9881812817844,)]

La respuesta debe ser igual a la de la *Pregunta #5*